# Ignore macOS system files
**/.DS_Store

# Ignore Python bytecode files
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore virtual environment directories
**/venv/
**/env/
**/.venv/
**/.env/

# Ignore .vscode settings
**/.vscode/
